.searchbar {
  position: relative;
}

.searchbar input {
  height: 50px;
  text-indent: 25px;
  background-color: #f2f2f2;

}

.searchbar input:focus {
  box-shadow: none;
  border: 2px solid #ed7014;
  background-color: #f2f2f2;

}

.searchbar .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.searchbar button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
  border: transparent;
  background: #f2f2f2
}

.navbar-main{
    background: white;
}

.logo{
    font-weight: bold;
    color: #ed7014
}
